@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// box shadow
@mixin shadow {
    -webkit-box-shadow: 0px 10px 10px 0px $color-grey; 
    box-shadow:         0px 10px 10px 0px $color-grey;
}

@mixin shadow-darken {
    -webkit-box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.5); 
    box-shadow:         0px 4px 10px rgba(196, 196, 196, 0.5);
}

@mixin shadow-inset {
    -webkit-box-shadow: inset 0px 20px 10px -10px #909090; 
    box-shadow:         inset 0px 20px 10px -10px #909090;
}

//padding in Responsive Web Design
@mixin padding-left-and-right-rwd {
    padding-right: 20px;
    padding-left: 20px;
    @media (min-width: map-get($map: $breakpoints, $key: medium)){
        padding-right: 3%;
        padding-left: 3%;
    }
    @media (min-width: map-get($map: $breakpoints, $key: large)){
        padding-right: 3.5%;
        padding-left: 3.5%;
    }
}