.btn{
    background: linear-gradient($color-secondary, $color-primary);
    height: 50px;
    width: 218px;
    @include center;
    border-radius: 25px;

    &:hover{
        background: linear-gradient($color-primary, $color-secondary);
    }
}   

.operation__card{
    height: 73px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: baseline;
    background-color: $color-back;
    border: 0px;
    border-radius: 18px;
    font-size: 16px;

    p:first-child{
        margin-left: -12.5px;
    }

    i{
        padding: 0 20px;
    }
}

.meal{

}