.btn{
    background: linear-gradient($color-secondary, $color-primary);
    height: 50px;
    width: 218px;
    @include center;
    border-radius: 25px;
    color:white;
    @include shadow-darken;

    &:hover{
        background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
    }
}   



.favorite{
    background: -webkit-linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.btn__order{
    @include center;
    margin-top: 50px;
}