.cardPrimary{
    height: 251px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
    @include shadow-darken;

    @media (min-width: map-get($map: $breakpoints, $key: small)){
        width: calc(100% / 2 - 19px);
    }

    @media (min-width: map-get($map: $breakpoints, $key: large)){
        width: calc(100% / 4 - 19px);
    }
    
    .cardPrimary__descriptionTitle:hover{
        color: $color-secondary;
    }
    
    &__img{
        height: 174px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 0;
        padding: 0;

        &Link{
            position: relative;
            height: 174px;
            &:hover + .cardPrimary__description .cardPrimary__descriptionTitle {
                        color: $color-secondary;
            }
        }
    }
    
    &__description{
        height: 77px;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 0 13px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        &Title{
            color: black;
        }
        i{
            color: black;
            font-size: 20px;
        }
    }
}

.operation__card{
    height: 73px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: baseline;
    background-color: $color-back;
    border: 0px;
    border-radius: 18px;
    font-size: 16px;

    @include shadow;

    @media (min-width: map-get($map: $breakpoints, $key: small)){
        height: 120px;
        padding-bottom: 10px;
        width: calc(100% / 3 - 19px);
        @include center;
        justify-content: space-between;
        flex-flow: column;
    }

    p:first-child{
        margin-left: -12.5px;

        @media (min-width: map-get($map: $breakpoints, $key: small)){
            margin-left: 0px;
            margin-top: -12.5px;
        }
    }

    i{
        padding-top: 0;
        padding-bottom: 0;
        @include padding-left-and-right-rwd;

        @media (min-width: map-get($map: $breakpoints, $key: small)){
            font-size: 50px;
        }
    }

    &--focus{
        background-color: $color-hover;
    }

}

.cardItem{
    height: 68px;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;

    @include shadow-darken;

    animation: come-card 2s both;
    @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }
    }
        
    &__content{
        min-width: 0;
        padding: 9px 21px 7px 10px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        flex: auto;

        &Text{
            display: flex;
            justify-content: space-between;
            
            &Ellipsis{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        
            &Fixed{
                white-space: nowrap;
                font-weight: bold;
            }
        }
    }

    &:hover{
        .cardItem__check{
            height: 68px;
            background-color: $color-tertiary ;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            flex: none;
            color: white;
            font-size: 24px;
            margin-right: 0;
            
            @include center;
            
            animation: come-check 0.5s both;
            
        }
        .cardItem__check i{
            color: white;
            transform: rotate(360deg);
            transition: all 0.5s;
        }
    }
    
    &__check{
        height: 68px;
        background-color: $color-tertiary ;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        flex: none;
        color: white;
        font-size: 24px;
        margin-right: 0;
        
        @include center;
        @include shadow-darken;

        width: 0;
        overflow: hidden;
        animation: come-check-reverse 0.3s forwards;
    }
}

@keyframes come-card {
    0%{
        transform: translate(0, 15px);
        opacity: 0;
    }
    
    5%{
        opacity: 0.1;
    }
    
    20%{
        opacity: 0.5;
        transform: translate(0, 10px);
    }
    
    70%{
        transform: translate(0, 0px);
    }
    
    100%{
        opacity: 1;
    }
}

@keyframes come-check {
    0%{
        width: 0px;
    }
    100%{
        width: 59px;
    }
}
@keyframes come-check-reverse {
    0%{
        width: 59px;
    }
    100%{
        width: 0px;
    }
}