.cardPrimary{
    height: 251px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
    @include shadow-darken;

    @media (min-width: map-get($map: $breakpoints, $key: small)){
        width: calc(100% / 2 - 19px);
    }

    @media (min-width: map-get($map: $breakpoints, $key: large)){
        width: calc(100% / 4 - 19px);
    }

    
    .cardPrimary__descriptionTitle:hover{
        color: $color-secondary;
    }
    
    &__img{
        height: 174px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 0;
        padding: 0;
   
        &Link {
            height: 174px;
            &:hover + .cardPrimary__description .cardPrimary__descriptionTitle {
                        color: $color-secondary;
            }
        }
    }
    
    &__description{
        height: 77px;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 0 13px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        &Title{
            color: black;
        }
        i{
            color: black;
            font-size: 20px;
        }
    }
}

.operation__card{
    height: 73px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: baseline;
    background-color: $color-back;
    border: 0px;
    border-radius: 18px;
    font-size: 16px;

    @include shadow;

    @media (min-width: map-get($map: $breakpoints, $key: small)){
        height: 120px;
        padding-bottom: 10px;
        width: calc(100% / 3 - 19px);
        @include center;
        justify-content: space-between;
        flex-flow: column;
    }

    p:first-child{
        margin-left: -12.5px;

        @media (min-width: map-get($map: $breakpoints, $key: small)){
            margin-left: 0px;
            margin-top: -12.5px;
        }
    }

    i{
        padding-top: 0;
        padding-bottom: 0;
        @include padding-left-and-right-rwd;

        @media (min-width: map-get($map: $breakpoints, $key: small)){
            font-size: 50px;
        }
    }

    &--focus{
        background-color: $color-hover;
    }

}

.cardItem{
    height: 68px;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    background-color: white;
    border-radius: 15px;

    @include shadow-darken;
        
    &__content{
        min-width: 0;
        padding: 9px 21px 7px 10px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        flex: auto;

        &Text{
            display: flex;
            justify-content: space-between;
            
            &Ellipsis{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        
            &Fixed{
                white-space: nowrap;
            }
        }
    }

    &:hover > .cardItem__check{
        height: 68px;
        width: 59px;
        background-color: $color-tertiary ;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        flex: none;
        color: white;
        font-size: 24px;

        @include center;
        @include shadow-darken;
    }
    
    &__check{
        display: none;
    }
}