.favorite{
    overflow: visible;
    height: 25;
    width: 25;
    
    &Button{
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        &--like{
            display: none;
            background: linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
        }
    }
    
    &:hover{
        animation: pulse 1s linear;

        .favoriteButton{
        display: none;
    }

    .favoriteButton--like{
            display: inline-block;
        }
    }
}

@keyframes pulse {
  10%{
    transform: scale(1.5) rotate(10deg);
  }

  30% {
    transform: scale(0.7);
  }

  66% {
    transform:  scale(0.8) rotate(-10deg);
  }

  100% {
    transform: scale(1.0);
  }
}