.favorite_button { // Nom à change

    .favorite--like {
        display: none;
    }

    &:hover {
        .favorite {
            display: none;
        }
        .favorite--like {
            display: inline-block;
        }
    }
}

.favorite {
    background: -webkit-linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.favorite--like {
    display: inline-block;
    background: -webkit-linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}