.new{
    height: 29px;
    width: 80px;
    @include center;
    background-color: $color-tertiary;
    font-size: 14px;
    font-weight: bold;
    color: $color-news;
    position: absolute;
    right: 13px;
    top: 13px;
    z-index: 1;
}

.bubble{
    height: 25px;
    width: 25px;
    background-color: $color-primary;
    border:0px;
    border-radius: 15px;
    @include center;
    color: white;
}
