.footer{
    background-color: $color-footer;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    @include padding-left-and-right-rwd;
    font-family: $font-base;
    
    &--white{
        color: white;
        font-size: 16px ;
    }
    
    &--focus{
        font-weight: bold;
    }

    li{
        padding-bottom: 8px;
    }

    &Title{
        font-family: $font-title;
        font-size: 18px;
        margin-bottom: 25px;
    }
    
    &List{
        i{
            width: 23px;
        }
    }

    a:hover{
        color: $color-primary;
    }
}