.header{
    height: 64px;
    @include center;
    padding-top: 10px;

    a{
        position: absolute;
        left: 20px;
        top: 26px;
        font-size: 18px;

        &:active{
            color: black;
        }

        &visited{
            color: black;
        }

    }

    img{
        height: 30px;
        text-align: center;
    }
}