.hero{
    background-color: $color-back;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 38px $padding-edge;
    z-index: 1;
    position: relative;
    color: black ;

    &Title{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    i{
        font-size: 24px;
    }

}

.listPrimary{
    display: flex;
    flex-flow: row wrap;
    
}

.listItems{


    &Title{
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
        margin-top: 32px;
        
        &::after {
            display: flex;
            content: "";
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            margin-top: 3px;
        }
    }
    
    &List{
        height: 68px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 14px;
        
        @media (min-width: map-get($map: $breakpoints, $key: medium)) {
            flex-flow: row wrap;
            justify-content: space-between;
        }
        
        &__text{
            height: 68px;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 9px 21px 7px 10px;
            background-color: white;
            border-radius: 15px;
            
            @include shadow-darken;
            &:hover {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            &:hover + .menuList__check{
                height: 68px;
                width: 59px;
                background-color: $color-tertiary ;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                display: flex;
                @include center;
                color: white;
                font-size: 24px;
                @include shadow-darken;
            }
        }
        
        &__check{
            display: none;
        }
    }

}
