.mainly{
    padding-top: 54px;
    padding-bottom: 64px;
    @include padding-left-and-right-rwd;
    background-color: $color-grey;
    &__list{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        row-gap: 19px;
        column-gap: 19px;
    }
}