.location {
    @include center;
    height: 50px;
    background-color: $color-grey;
    font-size: 16px;
    @include shadow-inset;

    i{
        padding-right: 18px;
    }
}

.reservation{
    height: 286px;
    text-align: center;
    background-color: $color-back;
    @include center;
    flex-direction: column;
    justify-content: space-between;
    padding: 41px $padding-edge;

    p:first-child{
        font-size: 24px;
        font-weight: bold;
    }

    p{
        font-size: 18px;
        font-weight: lighter;
    }
}

.operation{
    height: 440px;
    padding: 48px 25px;

    &__list{
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 26px;
        padding: 7px 0px 10px;
    }
}

.restaurant{
    padding: 54px $padding-edge;
    background-color: $color-grey;
    &__list{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 19px;
        column-gap: 19px;
    }
    &__card{
        height: 251px;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        @include shadow-darken;
        @media (min-width: map-get($map: $breakpoints, $key: small)) {
            width: 45%;
        }
        @media (min-width: map-get($map: $breakpoints, $key: large)) {
            width: 20%;
            max-width: 350px;
        }
        &Img{
            height: 174px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin: 0;
            padding: 0;
        }
        
        &Description {
            height: 77px;
            background-color: white;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 0 13px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            &Title{
                color: black;
            }
            i{
                color: black;
                font-size: 20px;
            }
        }
    }
}